---
title: Articles
description: TODO write a description
---

<!DOCTYPE html>
<html lang="en">
  {% include article-head.html %}

  <body>
    <nav class="site-nav"><a href="/">About me</a></nav>

    <main class="articles">
      <h1 class="articles__heading">Articles</h1>

      <p class="articles__intro">Sometimes I write things. Here they are.</p>

      <ul class="articles__list">
        {% for post in site.posts %}
        <li class="articles__row">
          <a href="{{ post.url }}">{{ post.title }}</a>
          <time
            class="articles__date"
            datetime="{{ page.date | date: '%Y-%m-%d' }}"
          >
            {{ post.date | date_to_long_string: "ordinal", "US" }}
          </time>
        </li>
        {% endfor %}
      </ul>
    </main>
  </body>
</html>
