<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="description" content="{{ page.description }}" />
  <title>Not a Hat &mdash; {{ page.title }}</title>

  {% include favicons.html %}

  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@500;700&family=Quattrocento+Sans&display=swap"
    rel="stylesheet"
  />

  <link href="/css/articles.css" rel="stylesheet" />
</head>
