<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="color-scheme" content="light dark" />
  <meta name="description" content="{{ page.description }}" />
  <title>Not a Hat &mdash; {{ page.title }}</title>

  {% include favicons.html %}

  <link rel="preconnect" href="https://fonts.bunny.net" />
  <link
    href="https://fonts.bunny.net/css2?family=EB+Garamond:ital,wght@0,400;0,600;0,700;1,400&family=Quattrocento+Sans&display=swap"
    rel="stylesheet"
  />

  <link href="/css/articles.css" rel="stylesheet" />
</head>
