body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
  line-height: 1.8em;
	color: #232323;
	background-color: #FBFAF7;
  margin: 40px 0px 40px 300px;
  max-width: 650px;
  -webkit-text-size-adjust: 100%; // Prevent text getting rescaled on the iPhone.
}


/* Headings */

h1, h2, h3 {
  color:#232323;
  font-family: "Arvo", Monaco, serif;
  font-weight: 400;
  line-height: 1.3;
  padding-bottom: 5px;
  border-bottom: 1px solid #cccccc;
  margin: 36px 0 10px 0;
}

h1 {
  font-size: 28px;
  a { color: black; text-decoration: none; }
  a:hover { text-decoration: underline; }
}

h2 { font-size: 22px; }


/* Text */

p { text-size: 15px; line-height: 25px; margin: 20px 0; }
em { font-style: italic; }
strong { font-weight: 700; }


/* Links */

a {
  color: #c30000; font-weight: 200; text-decoration: none;
  &:hover { text-decoration: underline; }
}

a.button {
  display: inline-block;
  color: white;
  font-weight: normal;
  background: #171717 url(/images/arrow-down.png) no-repeat 8px 7px;
  background-size: 12px auto;
	padding: 4px 10px 4px 29px;
	border-radius: 4px;
  &:hover { background-color: #950119; }
}


/* Lists */

ul {
  margin: 25px 0;
  li { list-style: inside; padding-left: 25px; }
}


/* Images */

img { border: 1px solid #cccccc; padding: 5px; margin: 25px 0; }

img.screenshot { border: none; padding: 0; margin: 0; max-width: 100%; }


/* Code blocks */

code, pre {
	font-family: monospace;
  font-size: 13px;
  line-height: 22px;
}

pre {
	padding: 4px 12px;
  background: #FDFEFB;
  border-radius:4px;
  border:1px solid #D7D8C8;
  overflow: auto;
  overflow-y: hidden;
	margin-bottom: 32px;
}


/* Page elements */

header.page_header {
  display: block;
  color: #fdfdfb; background-color: #171717;
  width: 170px;
  padding: 34px 25px 22px 50px;
  border: 1px solid #000;
  border-radius: 0 4px 4px 0;
  position: fixed; top: 40px; left: 0px;

  a { color: #fdfdfb; text-decoration: underline; }

  h1 {
    line-height: 1.0; padding: 0; border: none; margin: 0;
    a { text-decoration: none; }
    a:hover { text-decoration: underline; }
  }
}

footer.page_footer {
  position: fixed; bottom: 40px; left: 40px;
  font-size: 12px; color: #888888;
  width: 180px;
}


ul.social_media_links {
  li { display: inline; list-style: none; padding: 0; }
  a {
    display: inline-block;
    background-repeat: no-repeat;
    padding-left: 30px;
    width: 60px; height: 24px;
  }
  a.github  { background-image: url(/images/glyphicons_381_github.png); }
  a.twitter { background-image: url(/images/glyphicons_392_twitter.png); }
  a.flickr  { background-image: url(/images/glyphicons_395_flickr.png); }
}


/* Home page */

div.home_page {
  section { margin-bottom: 64px; }
  h2 { font-size: 20px; border: none; }
  article h2 { margin-bottom: 0; border: none; }
  article h2 a { color: black; }
  article p { margin-top: 0; }
}


/* Software pages */

div.software_page_heading {
  border-bottom: 1px solid #cccccc;

  h1 { border: none; margin-bottom: 0; }

  a.button { margin: 5px 10px 15px 0; }
}

dl.software_details {
  display: block;
  overflow: hidden;
  margin: 25px 0;

  dt {
    font-weight: bold;
    float: left;
    width: 120px;
  }

  dd { margin-left: 120px; }
}


/* Responsive magic */

@media print, screen and (max-width: 960px) {
  body { margin: 40px 50px; }

  header.page_header {
    position: static;
    margin-left: -50px;
    width: auto;
    max-width: 650px;
  }

  footer.page_footer {
    position: static;
    width: auto;
  }
}

// Smaller margins on the iPhone
@media print, screen and (max-width: 568px) {
  body { margin: 20px; }
}
