---
---

<!doctype html>
<html lang="en">
  {% include article-head.html %}

  <body>
    <nav class="site-nav">
      <a class="site-nav__link" href="/">About me</a>
      <a class="site-nav__link" href="/articles">Other articles</a>
    </nav>

    <main class="article">
      <article>
        <header class="article__header">
          <h1 class="article__headline">{{ page.title }}</h1>
          <time
            class="article__date"
            datetime="{{ page.date | date: '%Y-%m-%d' }}"
          >
            {{ page.date | date_to_long_string: "ordinal", "US" }}
          </time>
        </header>

        {{ content }}
      </article>
    </main>
  </body>
</html>
